h1 {
  font-size: 52px;
  margin: none;
  margin-block-end: 10px;
  margin-block-start: 0px;
}
h2 {
  font-size: 37px;
  margin: none;
  margin-block-end: 10px;
  margin-block-start: 0px;
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

h3 {
  margin: none;
  font-size: 24px;
  margin-block-end: 40px;
  margin-block-start: 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}
.top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-line {
  font-family: "Exo", sans-serif;
  margin: none;
}
.intro-line2 {
  font-family: "Exo", sans-serif;
  font-weight: 200;
  margin: none;
}
.img-pfp {
  border-radius: 50%;
  height: 250px;
  margin-bottom: 20px;
  transition: 0.3s ease;
}
.img-pfp:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.contact-me-btn {
  cursor: pointer;
  outline: 0;
  color: #121212;
  background-color: #ccf4ff;
  border-color: #ccf4ff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 12px 34px;
  font-size: 28px;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 110px;
  font-family: "Exo", sans-serif;
  font-weight: 800;
}
.contact-me-btn:hover {
  color: #101210;
  background-color: #98b7e6;
  border-color: #98b7e6;
}
.bottomView-image-container {
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomView-image {
  height: auto;
  max-width: 100%;
}
.second-section {
  background-color: #ccf4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-family: "Exo", sans-serif;
}
.welcome-text-container {
  padding-top: 120px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bio-text-container {
  max-width: 800px;
  font-size: 24px;
  font-family: "Exo", sans-serif;
}
.bio-text {
  font-weight: 300;
  text-align: center;
}
.tech-stack-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -140px;
}
.tech-stack-text {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 34px;
  margin-top: 20px;
}
.tech-stack-container {
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  width: 70%;
  max-width: 1500px;

  border: none;
  -webkit-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
}
.tech-stack-img {
  width: 100%;
  max-width: 850px;
}
.homepage-projects-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px;
  font-family: "Exo", sans-serif;
}
.projects-intro-text {
  font-size: 80px;
}
.home-page-text {
  margin: 10px;
}
.homepage-projects {
  margin-top: 40px;
  margin-bottom: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project {
  display: Flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  gap: 25px;
  -webkit-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  font-family: "Exo", sans-serif;
  transition: 0.3s ease;
}
.proj-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.proj-titles {
  display: flex;
}
.pokemon-image-container {
  height: 300px;
}
.pokemon-image {
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.a1sealing-image-container {
  height: 300px;
}
.a1sealing-image {
  height: 100%;
  width: 300px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dashboard-image-container {
  height: 300px;
}
.dashboard-image {
  height: 100%;
  width: 300px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.img-container {
  position: relative;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(transparent, #ebfcfc);
  opacity: 0;
  transition: all 0.3s ease;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.img-container:hover {
  cursor: pointer;
  .portfolio-overlay {
    opacity: 0.28;
  }
}
.proj-titles {
  text-align: center;
}
.proj-titles:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: #383836;
}
.tech-stack-text {
  text-align: center;
}

.project:hover {
  transform: scale(1.04);
}
@media (max-width: 820px) {
  .hero {
    width: fit-content;
    text-align: center;
    overflow: hidden;
  }
  .bottomView-image-container {
    width: 100%;
    overflow: hidden;
  }
  .bottomView-image {
    width: fit-content;
    width: 100%;
  }
  .second-section {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bio-text {
    font-size: 20.5px;
  }
  .tech-stack-wrapper {
    margin-top: -3%;
  }

  /* --- */
  .homepage-projects-intro {
    margin-left: 10px;
    margin-right: 10px;
  }
  .projects-intro-text {
    font-size: 24px;
  }
  .homepage-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project {
    display: flex;
    width: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    gap: 25px;
    -webkit-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px -11px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    font-family: "Exo", sans-serif;
    transition: 0.3s ease;
  }
  .proj-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  .pokemon-image-container {
    width: 100%;
  }
  .pokemon-image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .a1sealing-image-container {
    width: 100%;
  }
  .a1sealing-image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .dashboard-image-container {
    width: 100%;
  }
  .dashboard-image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .portfolio-overlay {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .img-container:hover {
    cursor: pointer;
    .portfolio-overlay {
      opacity: 0.28;
    }
  }
}
