body,
html {
  background-color: #fcffff;
}
/* Might have to  change this if it overrides the lower sections background color */

::-webkit-scrollbar {
  display: none;
}
.contact-text {
  text-align: center;
  margin-bottom: -100px;
  margin-top: 80px;
}
